body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: url('loader.gif') center center no-repeat;
}

.background {
    background: url('skull.png') center center no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}